<nav class="navbar">
    <div class="container">
      <ul class="navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active">Home Page</a></li>
        <li><a routerLink="/user-profile" routerLinkActive="active">User Profile</a></li>
        <li><a routerLink="/designs" routerLinkActive="active">Designs</a></li>
        <li><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
        <li><a routerLink="/app-about-us" routerLinkActive="active">About Us</a></li>
      </ul>
    </div>
  </nav>