<div class="order-list-container">
  <div class="order-item" *ngFor="let order of orders">
    <h2>{{ order.productName }}</h2>
    <p>{{ order.description }}</p>
    <p><strong>Quantity:</strong> {{ order.quantity }}</p>
    <p><strong>Order Date:</strong> {{ order.orderDate | date }}</p>
    <p><strong>Status:</strong> {{ order.status }}</p>
    <span class="price">{{ order.price | currency }}</span>

    <div class="product-images">
      <!-- Toon slechts één afbeelding per order, aangezien je maar één product wilt tonen -->
      <img [src]="order.productImages[0]" alt="Product Image">
    </div>

    <img class="user-photo" [src]="order.userPhotoUrl" alt="User Photo">
  </div>
</div>
