<div class="header">
    <div class="browser-controls">
        <div class="button"></div>
        <div class="button"></div>
        <div class="button"></div>
    </div>
    <div class="address-bar">
        <div class="back-forward-controls">
            <span>&larr;</span>
            <span>&rarr;</span>
        </div>
        <input type="text" value="Homepage">
        <div class="menu-icon">≡</div>
    </div>
</div>
<div class="content">
    <h1>Welcome to Textile Designer</h1>
    <img src="/src/app/assets/home.page.jpg" alt="Home Page Image" class="design-image">
    <div class="buttons-container">
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/profile">User Profile</a>
        <a href="/design">Textile Design</a>
        <a href="/creation">Creation</a>
        <a href="/settings">Settings</a>
    </div>
</div>
