.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    position: relative;
    z-index: 900; /* Zorg ervoor dat dit lager is dan de navbar */
    padding: 10px;
    background-color: #f5f5f5; /* Optioneel: achtergrondkleur om de header te benadrukken */
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  .router-outlet, .app-order-list {
    padding-top: 120px; /* Optionele aanpassing, hangt af van de totale hoogte van header + navbar */
  }
  
  