<div class="container">
  <h2>All Users</h2>

  <!-- List all users with Delete and Edit buttons -->
  <div *ngFor="let user of users; let i = index" class="user-card">
    <div class="user-content">
      <!-- User photo on the left -->
      <div class="user-photo">
        <img src="/userprofile.png" alt=" user.firstName " />
      </div>

      <!-- User information on the right -->
      <div class="user-info">
        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone Number:</strong> {{ user.phoneNumber }}</p>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Role:</strong> {{ user.role | titlecase }}</p>

        <!-- Edit and Delete buttons -->
        <button (click)="editUser(user)" class="btn btn-edit">Edit</button>
        <button (click)="deleteUser(i)" class="btn btn-delete">Delete</button>
      </div>
    </div>

    <!-- Edit form -->
    <div *ngIf="editMode && selectedUser?.username === user.username">
      <h3>Edit User</h3>
      <label for="firstName">First Name:</label>
      <input [(ngModel)]="selectedUser.firstName" id="firstName" class="form-control">

      <label for="lastName">Last Name:</label>
      <input [(ngModel)]="selectedUser.lastName" id="lastName" class="form-control">

      <label for="email">Email:</label>
      <input [(ngModel)]="selectedUser.email" id="email" class="form-control">

      <label for="phoneNumber">Phone Number:</label>
      <input [(ngModel)]="selectedUser.phoneNumber" id="phoneNumber" class="form-control">

      <label for="role">Role:</label>
      <input [(ngModel)]="selectedUser.role" id="role" class="form-control">

 
    </div>
  </div>
</div>
