.customer-detail-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.customer-detail-container h2 {
  color: #3f51b5;
  margin-bottom: 20px;
}

.customer-detail-container p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
