
<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Enter your email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Enter your password" required>
    </div>
    <div class="form-group">
      <label for="role">Select Role</label>
      <select id="role" [(ngModel)]="selectedRole" name="role" required>
        <option value="CUSTOMER">Customer</option>
        <option value="ADMIN">Admin</option>
        <option value="DESIGN_MANAGER">Design Manager</option>
        <option value="ORDER_MANAGER">Order Manager</option>
      </select>
    </div>
    <button type="submit" class="login-button">Login</button>
  </form>
  <div class="form-footer">
    <p>Don't have an account? <a [routerLink]="['/register']">Register here</a></p>
    <p>Or</p>
    <p class="login-buttons">
      <a href="http://localhost:8080/oauth2/authorization/google" class="login-button google-login">
        <i class="fab fa-google"></i> Login with Google
      </a>
      <a href="http://localhost:8080/oauth2/authorization/facebook" class="login-button facebook-login">
        <i class="fab fa-facebook-f"></i> Login with Facebook
      </a>
    </p>
  </div>
  <div class="form-footer">
    <p>Don't have an account? <a [routerLink]="['/register']">Register here</a></p>
    <p><a [routerLink]="['/forgot-password']">Forgot Password?</a></p>
</div>

</div>
